@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dovre Social";
  src: url("/font/DovreSocial-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#__next {
  height: 100%;
  cursor: none;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}


.flare {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 5 !important;
  background-color: black;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}